#page3{
    min-height: 100vh;
    width: 100%;
    position: relative;
    padding: 3vw;
}
#page3-top{
    text-align: center;
}

#page3-top h4{
    margin-bottom:1vw ;
    font-size: 1vw;
    font-weight: 500;

}

#page3-top h4 span{
    font-size: 0.7vw;
    background-color: black;
    color: white;
    padding: 4px 10px;
    border-radius: 10px;
}

#page3-top h2{
    font-size: 4vw;
    font-weight: 500;
}

#page3-elements{
    height: 75vh;
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 8vw;
    justify-content: space-between;

}

#page3-elements .box{
    height: 100%;
    width: 31%;
    position: relative;

}

#page3-elements .box video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

#page3-elements .box img{
    height: 100%;
    width: 100%;
    position: absolute;
    object-fit: cover;
    object-position: center;
    transition: all linear 0.7s;
}

#page3-elements .box:hover img{
    opacity: 0;

}

@media only screen and (max-width: 600px) {
    #page3{
        min-height: 50vh;
        padding-top: 80px;
    }
    #page3-elements{
        height: 100%;
        width: 100%;
    
    }

    #page3-top h4{
        margin-bottom:1vw ;
        font-size: 2vw;
        font-weight: 500;
    
    }

    #page3-top h4 span{
        font-size: 1.7vw;
        background-color: black;
        color: white;
        padding: 1px 5px;
        border-radius: 10px;
    }
    
    #page3-top h2{
        font-size: 6vw;
        font-weight: 500;
    }


    #page3-elements .box video{
        height: 30%;
        width: 100%;
    }

    #page3-elements .box img{
        height: 100%;
        width: 100%;
    }
  }