@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300&display=swap');

*{
    font-family: 'Hind Madurai', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::selection{
    color: white;
    background-color: black;
}

#loader{
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: black;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 10px;
}

#loader h3{
    font-size: 2vw;
}

@media only screen and (max-width: 600px) {
    #loader{
        padding-left: -100px;
    }

    #loader h3{
        font-size: 8vw;
    }
}